/* === DESKTOP FIRST === */

/* xl <= Extra extra large (xxl) */
@media (max-width : 1400px) {

}

/* lg <= Extra large (xl) */
@media (max-width : 1200px) {

}

/* md <= Large (lg) */
@media (max-width : 992px) {
  .header-style1 .top-header {
    padding: 10px 0;
  }
  .top-bar-flex .top-bar-right {
    flex-direction: column;
    justify-content: flex-start;
  }
  .top-auth {
    margin-top: 7px;
    margin-left: 0;
    text-align: right;
  }
  .off-cancas-panel {
    margin-right: 0;
  }
  .lang-list {
    margin: 0 20px;
  }
}

/* sm <= Medium (md) */
@media (max-width : 768px) {
  .date-bar-left {
    display: none;
  }
  .comments-item__img {
    width: 80px;
    height: 80px;
  }
  .comments-item__info {
    top: 0;
  }
  .comments-item {
    margin: 7px 0;
  }
  .comments-item__info .title {
    margin: 7px 0;
  }
}

/* xs <= Small (sm) */
@media (max-width : 576px) {
  .lang-list {
    margin: 0;
  }
  .off-cancas-panel {
    margin-right: 15px;
  }
  .comments-item__img {
    width: 60px;
    height: 60px;
  }
  .form-row {
    grid-gap: 15px;
  }
  .grid-items-2 {
    grid-template-columns: repeat(1, 1fr);
  }
}


/* === MOBILE FIRST === */

/* Custom (xs) */
@media (min-width : 0) {

}

/* Small (sm) */
@media (min-width : 576px) {

}

/* Medium (md) */
@media (min-width : 768px) {

}

/* Large (lg) */
@media (min-width : 992px) {

}

/* Extra large (xl) */
@media (min-width : 1200px) {
	.text {
		font-size: 18px;
	}
}

/* Extra extra large (xxl) */
@media (min-width : 1400px) {
	.text {
		font-size: 22px;
	}
}
